body {
  background-color: #012a4a;
  color: #ffffff;             
  font-family: Georgia, serif;
}

a {
  color: #ff85a1; 
}

h1 {
    font-size: 2em;
    text-align: center;
    color: #ff4787;
}

h2 {
    font-size: 1.5em;
    color: #ffc4d7;
}

nav {
  background-color: #fae0e4; 
  padding: 10px;
  margin-bottom: 30px;
}

nav a {
  color: #000000;
}

nav a:hover {
  color: #ff326f;
}

.container-skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

aside {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
}

.flexbox2 {
    display: flex;
    margin-top: 30px;
    gap: 20px; /* Added for spacing between columns */
}

.flexbox2 > div:first-child {
    flex: 3;
}

.flexbox2 > div:last-child {
    flex: 1;
}

h1, p, .flexbox2 {
    margin-left: 30px;
    margin-right: 30px;
}

.skills {
    text-align: center; 
    padding: 10px;
}

.intro {
    margin-bottom: 40px;
}